@media screen and (min-width: 1000px) {

  *{
      margin: 0;
      border: 0;
      padding: 0;
      font-size: 100%;
  }

  body {

      width: 100%;
      min-height: 100vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
      font-family: system-ui;
  }

  header {

      width: 100%;
      height: 10vh;
      background-color: rgb(14, 191, 14);
      border-radius: 0px 0px 20px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  h1 {

      width: max-content;
      height: max-content;
      font-size: 2.5vw;
  }

  main {

      margin-top: 3vh;
      width: 100%;
      min-height: 87vh;
      max-height: max-content;
      display: flex;
      flex-direction: row;
  }

  #products {

      margin-left: 3%;
      width: 50%;
      min-height: 20vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
      border: 3px solid #000;
      border-radius: 20px;
  }

  .product {

      width: 100%;
      display: flex;
      flex-direction: row;
  }

  .atribute {

      width: 33%;
  }

  .title-product-name {

      margin-left: 4%;
  }

  input {

      border: 1px solid #000;
      width: 90%;
      height: 4vh;
      padding-left: 1%;
      margin-top: 2vh;
  }

  .input-product-name {

      margin-left: 3%;
  }

  .text-datas {

      width: max-content;
      height: max-content;
      margin-left: 7%;
      font-size: 1.5vw;
  }

  .div-buttons {

    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

  }

  .new-product {

      margin-top: 4vh;
      width: 20%;
      height: 5vh;
      background-color: rgb(14, 191, 14);
      color: #fff;
      border-radius: 20px;
      cursor: pointer;
      font-size: 1vw;
  }

  .new-product:hover {

      background-color: rgb(21, 162, 21);
  }

  #total {

      margin-left: 10%;
      width: 30%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      border: 3px solid #000;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
  }

  h2 {

      width: max-content;
      height: max-content;
      font-size: 2vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {

  *{
      margin: 0;
      border: 0;
      padding: 0;
      font-size: 100%;
  }

  body {

      width: 100%;
      min-height: 100vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
      font-family: system-ui;
  }

  header {

      width: 100%;
      height: 10vh;
      background-color: rgb(14, 191, 14);
      border-radius: 0px 0px 20px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  h1 {

      width: max-content;
      height: max-content;
      font-size: 4vw;
  }

  main {

      margin-top: 3vh;
      width: 100%;
      min-height: 87vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
  }

  #products {

      width: 100%;
      min-height: 20vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
  }

  .product {

      width: 100%;
      display: flex;
      flex-direction: row;
  }

  .atribute {

      width: 33%;
  }


  .title-product-name {

      margin-left: 4%;
  }

  input {

      border: 1px solid #000;
      width: 90%;
      height: 4vh;
      padding-left: 1%;
      margin-top: 2vh;
  }

  .input-product-name {

      margin-left: 3%;
  }

  .text-datas {

      width: max-content;
      height: max-content;
      margin-left: 7%;
  }

  .div-buttons {

    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

  }

  .new-product {

      margin-top: 4vh;
      width: 40%;
      height: 7vh;
      background-color: rgb(14, 191, 14);
      color: #fff;
      border-radius: 20px;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      font-size: 3vw;
  }

  .new-product:hover {

      background-color: rgb(21, 162, 21);
  }

  #total {

      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  h2 {

      width: max-content;
      height: max-content;
      font-size: 4vw;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {

  *{
      margin: 0;
      border: 0;
      padding: 0;
      font-size: 100%;
  }

  body {

      width: 100%;
      min-height: 100vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
      font-family: system-ui;
  }

  header {

      width: 100%;
      height: 10vh;
      background-color: rgb(14, 191, 14);
      border-radius: 0px 0px 20px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  h1 {

      width: max-content;
      height: max-content;
      font-size: 5vw;
  }

  main {

      margin-top: 3vh;
      width: 100%;
      min-height: 87vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
  }

  #products {

      width: 100%;
      min-height: 20vh;
      max-height: max-content;
      display: flex;
      flex-direction: column;
  }

  .product {

      width: 100%;
      display: flex;
      flex-direction: row;
  }

  .atribute {

      width: 33%;
  }

  label {

      width: max-content;
      height: max-content;
  }

  .title-product-name {

      margin-left: 4%;
  }

  input {

      border: 1px solid #000;
      width: 80%;
      height: 4vh;
      padding-left: 1%;
  }

  .input-product-name {

      margin-left: 3%;
  }

  .text-datas {

      width: max-content;
      height: max-content;
      margin-left: 7%;
  }

  .div-buttons {

    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

  }

  .new-product {

      margin-top: 4vh;
      width: 40%;
      height: 7vh;
      background-color: rgb(14, 191, 14);
      color: #fff;
      border-radius: 20px;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      font-size: 4vw;
  }

  .new-product:hover {

      background-color: rgb(21, 162, 21);
  }

  #total {

      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  h2 {

      width: max-content;
      height: max-content;
      font-size: 6vw;
  }
}